<!DOCTYPE html>
<html>

<head>
    <title>Video Example</title>
</head>

<body>
    <video width="400" height="600" controls loop autoplay muted>
        <source src={{ url_for('static', filename="mp4/2010-09-08_074500_HF_S001.mp4" ) }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <video width="400" height="600" controls loop autoplay muted>
        <source src={{ url_for('static', filename="mp4/2010-09-08_074500_HF_S001.mp4" ) }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>

<br></br>

<body>
    <video width="400" height="600" controls loop autoplay muted>
        <source src={{ url_for('static', filename="mp4/2010-09-08_074500_HF_S001.mp4" ) }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>

</html>